@import "tailwindcss";

:root {
  --background: #232323;
  --foreground: #ffffff;
}

.dark {
  --bg:23 23 23;
  --fg: 255 255 255;
}

html:not(.dark) {
  --bg: 255 250 240;
  --fg: 0 0 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
