@import "tailwindcss";

:root {
  --background: #232323;
  --foreground: #ffffff;
  --arc-color: rgba(0,0,0, 0.85);
  --outline-color: rgba(0, 0, 0, 0.85);
  --theme-transition: 0.15s ease;
}

body,
header,
main,
footer {
  transition:
    background-color var(--theme-transition),
    color var(--theme-transition);
}

.border,
[class*="border-"] {
  transition: border-color var(--theme-transition);
}

.dark {
  --bg:23 23 23;
  --fg: 255 255 255;
  --arc-color: rgba(255, 255, 255, 0.85);
  --outline-color: rgba(255, 255, 255, 0.85);
}

html:not(.dark) {
  --bg: 255 250 240;
  --fg: 0 0 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
